@import '../../vars';

.form-login {
    .form-message {
        color: red;
        padding: 2rem 0;
    }
    .submit_settings {
        &.disabled {
            background-color: grey;
            pointer-events: none;
            box-shadow: none;
            cursor: none;
        }
    }
    .password-edit {
        position: relative;
        .password-edit--open {
            position: absolute;
            top: 1rem;
            right: 0.5rem;
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            background: url(../images/eye-closed.svg) 0 0 no-repeat;
        }
        .password-edit--close {
            background: url(../images/eye-open.svg) 0 0 no-repeat;
        }
    }
    
}

